<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% load staticfiles %}
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'compapp/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'compapp/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

<style>

<!--table
	border-collapse: collapse;
.style0
	{
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	}
th 
	{	
	border: 1px solid black;
	}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	border: .5pt solid black;
	}
.xl65
	{mso-style-parent:style0;
	}
.xl66
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl68
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#FCD5B4;
	mso-pattern:black none;}
-->
</style>

</head>
<body>

<div id="menu-wrapper">
	<div id="menu" class="container">
		<ul>
			<li><a href="/compapp/" accesskey="1" title="">Mortgage Rates</a></li>
			<!--<li><a href="#" accesskey="2" title="">Bank Rates</a></li>-->
			<!--<li><a href="#" accesskey="3" title="">Credit Cards</a></li>-->
			<li><a href="/compapp/Mobile1" accesskey="4" title="">Mobile Plans</a></li>
			<li><a href="/compapp/Mobile2" accesskey="5" title="">Mobile Plans(Discount)</a></li>
			<li><a href="/compapp/Internet" accesskey="6" title="">Internet</a></li>
			<li><a href="#" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>
</div> 

<div id="page" class="container">
	{% autoescape off %}
	
	{{ ratesTable }}
	
	{% endautoescape %}
</div>

<div id="copyright" class="container">
	<p>&copy; Rates Central. All rights reserved.</p>
</div>
</body>
</html>
