<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% load staticfiles %}
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'compapp/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'compapp/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
<style>

<!--table
.style0
	{
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	}
th 
	{	
	border: 0.5px solid black;
	}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	border: 0.5px solid black;
	}
.xl65
	{mso-style-parent:style0;
	}
.xl66
	{mso-style-parent:style0;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	text-align:center;
	}
.xl68
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#FCD5B4;
	mso-pattern:black none;}
	
-->
</style>


</style>
</head>

<body>
<div id="menu-wrapper">
	<div id="menu" class="container">
		<ul>
			<li><a href="/compapp/" accesskey="1" title="">Mortgage Rates</a></li>
			<!--li><a href="#" accesskey="2" title="">Bank Rates</a></li>-->
			<!--<li><a href="#" accesskey="3" title="">Credit Cards</a></li>-->
			<li><a href="/compapp/Mobile1" accesskey="4" title="">Mobile Plans</a></li>
			<li><a href="/compapp/Mobile2" accesskey="5" title="">Mobile Plans(Discount)</a></li>
			<li><a href="/compapp/Internet" accesskey="4" title="">Internet</a></li>
			<li><a href="#" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>
</div> 


<div id="page" class="container">
<a href="#ON">>>&nbsp;Ontario<a/>
&nbsp;&nbsp;&nbsp;
<a href="#BC">>>&nbsp;British Columbia<a/>
&nbsp;&nbsp;&nbsp;
<a href="#QC">>>&nbsp;Quebec<a/>
<br><br>
<a name="TOP" href=""></a>
<a name="ON" href=""></a>
<table name="ON" border=0 cellpadding=0 cellspacing=0 width="1131" align="center" style='border: 0.5px solid black;'>
 <col width=134 style='mso-width-source:userset;mso-width-alt:5717;width:134pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=132 style='mso-width-source:userset;mso-width-alt:5632;width:132pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=126 style='mso-width-source:userset;mso-width-alt:5376;width:126pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=122 style='mso-width-source:userset;mso-width-alt:5205;width:122pt'>
 <col width=65 style='width:65pt'>
 <tr ><th class=xl68 Colspan="11">&nbsp;<br>Ontario Residential Internet Package Comparison<br>&nbsp;</th></tr>
 <tr height=53 style='mso-height-source:userset;height:53.0pt'>
  <td class=xl68 width=134>Rogers</td>
  <td class=xl68 width=65>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=132 style='width:132pt'>Bell</td>
  <td class=xl68 width=65 style='width:65pt'>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=126 style='width:126pt'>TekSavvy<br>
  <span style="mso-spacerun:yes">&nbsp;</span>(Cable <br> Package)</td>
  <td class=xl68 width=65 style='width:65pt'>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=122 style='width:122pt'>Shaw</td>
  <td class=xl68 width=65 style='width:65pt'>Pricing</td>
 </tr>
 <tr height=50 style='mso-height-source:userset;height:50.0pt'>
 <td bgcolor="#2ECC71" class=xl67 height=50 width=134>Unlimited Usage, <br>
  1 Gbps download,<br>
  50 Mbps upload</td>
  <td class=xl67>$149.99</td>
  <td class=xl67></td>
  <td class=xl67 width=132 style='width:132pt'>Unlimited Usage,
  <br>
  940 Mbps download, <br>
  100 Mbps upload</td>
  <td class=xl67 align=right>$149.95</td>
  <td class=xl67></td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl72 >&nbsp;</td>
 </tr>
 <tr height=49 style='mso-height-source:userset;height:49.0pt'>
  <td bgcolor="#2ECC71" height=49 class=xl67 width=134 >Unlimited Usage, <br>
  250 Mbps<span style="mso-spacerun:yes">&nbsp; </span>download,<br>
  20 Mbps upload</td>
  <td class=xl67>$97.99</td>
  <td class=xl67></td>
  <td class=xl67 width=132 >750GB usage,
  <br>
  300 Mbps download, <br>
  100 Mbps upload</td>
  <td class=xl67 align=right>$99.95</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=122>450 GB Usage,
  <br>
  60 Mbps download, <br>
  6 Mbps upload</td>
  <td class=xl67 align=right>$93.00</td>
 </tr>
 <tr height=49 style='mso-height-source:userset;height:49.0pt'>
  <td bgcolor="#2ECC71" class=xl67 height=49 class=xl67 width=134>Unlimited Usage, <br>
  100 MB download, <br>
  10 Mbps upload</td>
  <td class=xl67>$87.99</td>
  <td class=xl67></td>
  <td class=xl67 width=132>250 GB Usage,
  <br>
  150 MB download, <br>
  50 Mbps upload</td>
  <td class=xl67 align=right>$89.95</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=50 style='mso-height-source:userset;height:50.0pt'>
  <td class=xl67 height=50 class=xl67 width=134>200 GB Usage, <br>
  60 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67>$77.99</td>
  <td class=xl67></td>
  <td class=xl67 width=132>250 GB Usage,
  <br>
  50Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67 align=right>$79.95</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td bgcolor="#2ECC71" class=xl67 width=122>300GB usage,
  <br>
  30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67 align=right >$73.00</td>
 </tr>
 <tr height=50 style='mso-height-source:userset;height:50.0pt'>
  <td class=xl67 height=50 class=xl69 width=134 style='height:50.0pt;
  width:134pt'>125 GB Usage, <br>
  30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67>$67.99</td>
  <td class=xl67 ></td>
  <td class=xl67  width=132 >125 GB
  Usage,<br>
  25 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67  align=right>$69.95</td>
  <td class=xl67></td>
  <td bgcolor="#2ECC71" class=xl67  width=126>400 GB Usage,
  <br>
  100 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67  align=right>$69.95</td>
  <td class=xl67></td>
  <td class=xl67  width=122 >150 GB
  Usage,<br>
  15Mbps download, <br>
  512 kbps upload</td>
  <td class=xl67  align=right>$63.00</td>
 </tr>
 <tr height=51 style='mso-height-source:userset;height:51.0pt'>
  <td class=xl67 height=51 class=xl67 width=134 >&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67 ></td>
  <td class=xl67 width=132 >75 GB Usage,
  <br>
  15 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67  align=right>$64.95</td>
  <td class=xl67>&nbsp;</td>
  <td bgcolor="#2ECC71" class=xl67 width=126>400 GB usage,
  <br>
  30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67  align=right>$57.95</td>
  <td class=xl67></td>
  <td class=xl67 width=122>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=44 style='mso-height-source:userset;height:44.0pt'>
  <td class=xl67 height=44 class=xl67 >&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67  width=126>400 GB Usage,
  <br>
  15 Mbps download, <br>
  1 Mbps upload</td>
  <td class=xl67  align=right >$49.95</td>
  <td class=xl67 ></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=48 style='mso-height-source:userset;height:48.0pt'>
  <td class=xl67 height=48 class=xl67 width=134>25 GB Usage,<br>
  5 Mbps download, <br>
  1 Mbps upload</td>
  <td class=xl67 >$32.99</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td bgcolor="#2ECC71" class=xl67 width=126>150 MB
  Usage,<br>
  5 Mbps download, <br>
  1 Mbps upload</td>
  <td class=xl67  align=right>$30.95</td>
  <td class=xl67></td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
 </tr>
 <tr height=48 style='mso-height-source:userset;height:48.0pt'>
 <td colspan=11>
 *Notes: <br>
 1. Green denote the best value plan for comparable price range<br>
  <br>
 <b>Conclusion from ON comparison</b><br>
 1. Rogers provide the best value for higher end packages (unlimited plans)<br>
 2. TekSavvy provides the best value for medium-lower end packages<br>
 </td>
 </tr>
</table>


<br><br>

<a name="BC" href=""></a>
<table border=0 cellpadding=0 cellspacing=0 width=1131  align="center" style='border: 0.5px solid black;'>
 <col width=134 style='mso-width-source:userset;mso-width-alt:5717;width:134pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=132 style='mso-width-source:userset;mso-width-alt:5632;width:132pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=126 style='mso-width-source:userset;mso-width-alt:5376;width:126pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=122 style='mso-width-source:userset;mso-width-alt:5205;width:122pt'>
 <col width=65 style='width:65pt'>
 
 <tr><th class=xl68 Colspan="11">&nbsp;<br>British Columbia Residential Internet Package Comparison<br>&nbsp;</th></tr>
 <tr height=53 style='mso-height-source:userset;height:53.0pt'>
  <td class=xl68 width=134>TekSavvy<br>
  <span style="mso-spacerun:yes">&nbsp;</span>(Cable <br>
  Package)</td>
  <td class=xl68 width=65>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=132 style='width:132pt'>Telus<span
  style="mso-spacerun:yes">&nbsp;&nbsp;</span></td>
  <td class=xl68 width=65 style='width:65pt'>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=126 style='width:126pt'>Shaw<span
  style="mso-spacerun:yes">&nbsp;&nbsp;</span></td>
  <td class=xl68 width=65 style='width:65pt'>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=122 style='width:122pt'>Novus<span
  style="mso-spacerun:yes">&nbsp;&nbsp;</span></td>
  <td class=xl68 width=65 style='width:65pt'>Pricing</td>
 </tr>
 
 <tr class=xl67 height=50 style='mso-height-source:userset;height:50.0pt'>
  <td height=50 class=xl67 width=149>&nbsp;</td>
  <td class=xl67 width=76>&nbsp;</td>
  <td></td>
  <td class=xl67 width=138>&nbsp;</td>
  <td class=xl67 width=82>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=129>&nbsp;</td>
  <td class=xl67 width=92>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=129>1 TB Usage,
  <br>
  300 Mbps download, <br>
  15 Mbps upload</td>
  <td class=xl67 align=right>$112.95</td>
 </tr>
 <tr height=46 style='mso-height-source:userset;height:46.0pt'>
  <td bgcolor="#2ECC71" class=xl67 height=46 class=xl72 width=149>Unlimited Usage, <br>
  60 Mbps download, <br>
  6 Mbps upload</td>
  <td class=xl67 align=right>$94.95</td>
  <td class=xl67></td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=129>450GB Usage,
  <br>
  60 Mbps download, <br>
  6 Mbps upload</td>
  <td class=xl67 align=right>$95.00</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=49 style='mso-height-source:userset;height:49.0pt'>
  <td height=49 class=xl67 width=149 >300MB Usage, <br>
  60 Mbps download, <br>
  6 Mbps upload</td>
  <td class=xl67 align=right>$84.95</td>
  <td></td>
  <td bgcolor="#2ECC71" class=xl67 width=138>1 TB Usage,
  <br>
  150 Mbps download, <br>
  150 Mbps upload</td>
  <td class=xl67 align=right>$85.00</td>
  <td></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=129>750GB Usage,
  <br>
  100 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl70 align=right>$82.95</td>
 </tr>
 <tr height=47 style='mso-height-source:userset;height:47.0pt'>
  <td class=xl67 height=47 class=xl74>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=138>450 GB Usage,
  <br>
  50 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67 align=right'>$80.00</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=51 style='mso-height-source:userset;height:51.0pt'>
  <td height=51 class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=138>300 GB Usage,
  <br>
  25 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67 align=right>$73.00</td>
  <td></td>
  <td bgcolor="#2ECC71" class=xl67 width=129>300 GB Usage,
  <br>
  30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67 align=right >$75.00</td>
  <td></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=50 style='mso-height-source:userset;height:50.0pt'>
  <td height=50 class=xl67>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=138'>200 GB Usage,
  <br>
  15 Mbps download, <br>
  1 Mbps upload</td>
  <td class=xl67 align=right>$68.00</td>
  <td class=xl67></td>
  <td class=xl67 width=129>150 GB Usage,
  <br>
  15 Mbps download, <br>
  512 kbps upload</td>
  <td class=xl67 align=right>$66.00</td>
  <td class=xl67></td>
  <td bgcolor="#2ECC71" class=xl67 width=129>500GB Usage,
  <br>
  50 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67 align=right>$61.95</td>
 </tr>
 <tr height=48 style='mso-height-source:userset;height:48.0pt'>
  <td height=48 class=xl67 width=149>Unlimited Usage, <br>
  30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67 align=right>$49.95</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=50 style='mso-height-source:userset;height:50.0pt'>
  <td height=50 class=xl67 width=149>Unlimited Usage, <br>
  30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67 align=right>$49.95</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=51 style='mso-height-source:userset;height:51.0pt'>
  <td height=51 class=xl67 width=149>300GB Usage, <br>
  30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67 align=right>$44.95</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=51 style='mso-height-source:userset;height:51.0pt'>
  <td bgcolor="#2ECC71" height=51 class=xl67 width=149 >Unlimited Usage, <br>
  15 Mbps download, <br>
  512 kbps upload</td>
  <td class=xl67 align=right>$39.95</td>
  <td class=xl67> </td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=129>250GB Usage,
  <br>
  25 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67 align=right>$39.95</td>
 </tr>
 <tr height=47 style='mso-height-source:userset;height:47.0pt'>
  <td height=47 class=xl67 width=149>300 GB<span style="mso-spacerun:yes">&nbsp; </span>Usage, <br>
  15 Mbps download, <br>
  512 kbps upload</td>
  <td class=xl67 align=right>$34.95</td>
  <td></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=48 style='mso-height-source:userset;height:48.0pt'>
  <td height=48 class=xl67 width=149>Unlimited Usage,  <br>5 Mbps download, <br>
  512 kbps upload</td>
  <td class=xl67 align=right>$29.95</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
 <tr height=47 style='mso-height-source:userset;height:47.0pt'>
  <td height=47 class=xl67 width=149>300GB Usage, <br> 5 Mbps download, <br>
  512 kbps upload</td>
  <td class=xl67 align=right>$24.95</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
 </tr>
  <td colspan=11>
*Notes: <br>
1. Green denote the best value plan for comparable price range <br>
2. Rogers and Bell do not offer residential internet services in BC <br>
 <br>
<b>Conclusion from BC comparison</b> <br>
1. Teksavvy  provides the best value for unlimied plans <br>
2. Telus  provides the fastest internet package (150 upload and download) <br>
 </td>
 </tr>
</table>	
<br>
<br>
<a name="QC" href=""></a>
<table name="ON" border=0 cellpadding=0 cellspacing=0 width="1131" align="center" style='border: 0.5px solid black;'>
 <col width=134 style='mso-width-source:userset;mso-width-alt:5717;width:134pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=132 style='mso-width-source:userset;mso-width-alt:5632;width:132pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=126 style='mso-width-source:userset;mso-width-alt:5376;width:126pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=122 style='mso-width-source:userset;mso-width-alt:5205;width:122pt'>
 <col width=65 style='width:65pt'>
 <tr ><th class=xl68 Colspan="11">&nbsp;<br>Quebec Residential Internet Package Comparison <i>(Coming Soon!)</i><br>&nbsp;</th></tr>
 </table>
<br>	
<a href="#TOP">>>&nbsp;Back to Top<a/>	
</div>

<div id="copyright" class="container">
	<p>&copy; Ratescentral. All rights reserved.</p>
</div>
</body>
</html>



