<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% load staticfiles %}
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'compapp/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'compapp/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
<style>

<!--table
	border-collapse: collapse;
.style0
	{
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	}
th 
	{	
	border: 1px solid black;
	}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	border: 1px solid black;
	}
.xl65
	{mso-style-parent:style0;
	border:.5pt solid windowtext;}
.xl66
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl68
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#FCD5B4;
	mso-pattern:black none;}
-->
</style>


</style>
</head>

<body>
<div id="menu-wrapper">
	<div id="menu" class="container">
		<ul>
			<li><a href="/compapp/" accesskey="1" title="">Mortgage Rates</a></li>
			<li><a href="#" accesskey="2" title="">Bank Rates</a></li>
			<li><a href="#" accesskey="3" title="">Credit Cards</a></li>
			<li><a href="/compapp/Mobile1" accesskey="4" title="">Mobile Plans</a></li>
			<li><a href="/compapp/Internet" accesskey="4" title="">Internet</a></li>
			<li><a href="#" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>
</div> 

<div id="page" class="container">
	<table border=0 cellpadding=0 cellspacing=0 width="1131" align="center">
 <col width=187 style='mso-width-source:userset;mso-width-alt:7978;width:187pt'>
 <col width=75 style='mso-width-source:userset;mso-width-alt:3200;width:75pt'>
 <col width=165 style='mso-width-source:userset;mso-width-alt:7040;width:165pt'>
 <col width=88 style='mso-width-source:userset;mso-width-alt:3754;width:88pt'>
 <col width=92 style='mso-width-source:userset;mso-width-alt:3925;width:92pt'>
 <col width=57 style='mso-width-source:userset;mso-width-alt:2432;width:57pt'>
 <col width=167 style='mso-width-source:userset;mso-width-alt:7125;width:167pt'>
 <col width=84 style='mso-width-source:userset;mso-width-alt:3584;width:84pt'>
 <col width=161 style='mso-width-source:userset;mso-width-alt:6869;width:161pt'>
 <col width=55 style='mso-width-source:userset;mso-width-alt:2346;width:55pt'>
 <tr height=23 style='mso-height-source:userset;height:23.0pt'>
  <td height=23 class=xl68 width=187 style='height:23.0pt;width:187pt'>Package</td>
  <td class=xl68 width=75 style='border-left:none;width:75pt'>Rogers*DSL</td>
  <td class=xl68 width=165 style='border-left:none;width:165pt'>Package</td>
  <td class=xl68 width=88 style='border-left:none;width:88pt'>Bell*Fibre</td>
  <td class=xl68 width=92 style='border-left:none;width:92pt'>Package</td>
  <td class=xl68 width=57 style='border-left:none;width:57pt'>Telus</td>
  <td class=xl68 width=167 style='border-left:none;width:167pt'>Package</td>
  <td class=xl68 width=84 style='border-left:none;width:84pt'>Teksavyy*DSL</td>
  <td class=xl68 width=161 style='border-left:none;width:161pt'>Package</td>
  <td class=xl68 width=55 style='border-left:none;width:55pt'>Shaw*DSL</td>
 </tr>
 <tr height=42 style='height:42.0pt'>
  <td height=42 class=xl66 width=187 style='height:42.0pt;border-top:none;
  width:187pt'>Unlimited Usage,<br> 1Gbps download, <br>
  50 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>149.99</td>
  <td class=xl66 width=165 style='border-top:none;border-left:none;width:165pt'>Unlimited
  Usage,<br> 940 Mbps download, <br>
  100 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>149.95</td>
  <td class=xl66 width=92 style='border-top:none;border-left:none;width:92pt'>NA<span
  style="mso-spacerun:yes">&nbsp; </span>in Ontario</td>
  <td class=xl65 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl66 width=167 style='border-top:none;border-left:none;width:167pt'>400
  GB,<br> 100 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>69.95</td>
  <td class=xl66 width=161 style='border-top:none;border-left:none;width:161pt'>450
  GB Usage,<br> 60 Mbps download, <br>
  6 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>93</td>
 </tr>
 <tr height=46 style='mso-height-source:userset;height:46.0pt'>
  <td height=46 class=xl66 width=187 style='height:46.0pt;border-top:none;
  width:187pt'>Unlimited Usage,<br> 250 Mbps<span style="mso-spacerun:yes">&nbsp;
  </span>download, <br>
  20 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>97.99</td>
  <td class=xl66 width=165 style='border-top:none;border-left:none;width:165pt'>750GB
  usage,<br> 300 Mbps download, <br>
  100 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>99.95</td>
  <td class=xl66 width=92 style='border-top:none;border-left:none;width:92pt'>NA<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td class=xl65 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl66 width=167 style='border-top:none;border-left:none;width:167pt'>400
  GB usage,<br> 30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>57.95</td>
  <td class=xl66 width=161 style='border-top:none;border-left:none;width:161pt'>300GB
  usage,<br> 30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>73</td>
 </tr>
 <tr height=37 style='mso-height-source:userset;height:37.0pt'>
  <td height=37 class=xl66 width=187 style='height:37.0pt;border-top:none;
  width:187pt'>Unlimited Usage,<br> 100 MB download, <br>
  10 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>87.99</td>
  <td class=xl66 width=165 style='border-top:none;border-left:none;width:165pt'>250
  GB Usage,<br> 150 MB download, <br>
  50 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>89.95</td>
  <td class=xl66 width=92 style='border-top:none;border-left:none;width:92pt'>NA<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td class=xl65 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl66 width=167 style='border-top:none;border-left:none;width:167pt'>400
  GB Usage,<br> 15 Mbps download, <br>
  1 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>49.95</td>
  <td class=xl66 width=161 style='border-top:none;border-left:none;width:161pt'>150
  GB Usage,<br>15Mbps download, <br>
  512 kbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>63</td>
 </tr>
 <tr height=38 style='mso-height-source:userset;height:38.0pt'>
  <td height=38 class=xl66 width=187 style='height:38.0pt;border-top:none;
  width:187pt'>200 GB Usage,<br> 60 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>77.99</td>
  <td class=xl66 width=165 style='border-top:none;border-left:none;width:165pt'>250
  MB Usage,<br>50Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>79.95</td>
  <td class=xl66 width=92 style='border-top:none;border-left:none;width:92pt'>NA<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td class=xl65 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl66 width=167 style='border-top:none;border-left:none;width:167pt'>150
  MB Usage,<br> 5 Mbps download, <br>
  1 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>30.95</td>
  <td class=xl66 width=161 style='border-top:none;border-left:none;width:161pt'>&nbsp;</td>
  <td class=xl67 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=36 style='mso-height-source:userset;height:36.0pt'>
  <td height=36 class=xl66 width=187 style='height:36.0pt;border-top:none;
  width:187pt'>125 GB Usage,<br> 30 Mbps download, <br>
  5 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>67.99</td>
  <td class=xl66 width=165 style='border-top:none;border-left:none;width:165pt'>125
  GB Usage,<br> 25 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>69.95</td>
  <td class=xl66 width=92 style='border-top:none;border-left:none;width:92pt'>NA<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td class=xl65 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl66 width=167 style='border-top:none;border-left:none;width:167pt'>&nbsp;</td>
  <td class=xl67 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl66 width=161 style='border-top:none;border-left:none;width:161pt'>&nbsp;</td>
  <td class=xl67 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
 <tr height=39 style='mso-height-source:userset;height:39.0pt'>
  <td height=39 class=xl66 width=187 style='height:39.0pt;border-top:none;
  width:187pt'>25 GB Usage,<br> 5 Mbps download, <br>
  1 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>32.99</td>
  <td class=xl66 width=165 style='border-top:none;border-left:none;width:165pt'>75
  GB Usage,<br> 15 Mbps download, <br>
  10 Mbps upload</td>
  <td class=xl67 style='border-top:none;border-left:none'>64.95</td>
  <td class=xl66 width=92 style='border-top:none;border-left:none;width:92pt'>NA<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td class=xl65 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl66 width=167 style='border-top:none;border-left:none;width:167pt'>&nbsp;</td>
  <td class=xl67 style='border-top:none;border-left:none'>&nbsp;</td>
  <td class=xl66 width=161 style='border-top:none;border-left:none;width:161pt'>&nbsp;</td>
  <td class=xl67 style='border-top:none;border-left:none'>&nbsp;</td>
 </tr>
</table>
	
	
</div>

<div id="copyright" class="container">
	<p>&copy; Ratescentral. All rights reserved.</p>
</div>
</body>
</html>



