<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% load staticfiles %}
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'compapp/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'compapp/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
<style>

<!--table
.style0
	{
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	}
th 
	{	
	border: 0.5px solid black;
	}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	border: 0.5px solid black;
	}
.xl65
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
	
.xl68
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#FCD5B4;
	mso-pattern:black none;}
-->
</style>

</head>

<body>
<div id="menu-wrapper">
	<div id="menu" class="container">
		<ul>
			<li><a href="/compapp/" accesskey="1" title="">Mortgage Rates</a></li>
			<!--<li><a href="#" accesskey="2" title="">Bank Rates</a></li>-->
			<!--<li><a href="#" accesskey="3" title="">Credit Cards</a></li>-->
			<li><a href="/compapp/Mobile1" accesskey="4" title="">Mobile Plans</a></li>
			<li><a href="/compapp/Mobile2" accesskey="5" title="">Mobile Plans(Discount)</a></li>
			<li><a href="/compapp/Internet" accesskey="4" title="">Internet</a></li>
			<li><a href="#" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>
</div> 

<div id="page" class="container">
<a href="#ON">>>&nbsp;Ontario<a/>
&nbsp;&nbsp;&nbsp;
<a href="#BC">>>&nbsp;British Columbia<a/>
&nbsp;&nbsp;&nbsp;
<a href="#QC">>>&nbsp;Quebec<a/>
<br><br>
<a name="TOP" href=""></a>
<a name="ON" href=""></a>
<table border=0 cellpadding=0 cellspacing=0 width=790 align="center" style='border: 0.5px solid black;'>
 <col width=172 style='mso-width-source:userset;mso-width-alt:7338;width:172pt'>
 <col width=66 style='mso-width-source:userset;mso-width-alt:2816;width:66pt'>
 <col width=65 style='width:65pt'>
 <col width=150 style='mso-width-source:userset;mso-width-alt:6400;width:150pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=142 style='mso-width-source:userset;mso-width-alt:6058;width:142pt'>
 <col width=65 style='width:65pt'>
 <tr ><th class=xl68 Colspan="8">&nbsp;<br>Ontario Regular Smart Phone Mobile Plans (*selective) Comparison<br>&nbsp;</th></tr>
 <tr height=42 style='height:42.0pt'>
  <td class=xl68 height=42 class=xl65 width=172 style='height:42.0pt;width:172pt' >Rogers<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td class=xl68 width=66 style=';width:66pt'>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=150 style='width:150pt'>Bell</td>
  <td class=xl68 width=65 style=';width:65pt'>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=142 style='width:142pt'>Telus</td>
  <td class=xl68 width=65 style=';width:65pt'><br>
  <span style="mso-spacerun:yes">&nbsp;</span>Pricing <br>
  (Flex Plan)</td>
 </tr>
 <tr height=75 style='height:75.0pt'>
  <td height=75 class=xl65 width=172 style='height:75.0pt;
  width:172pt'>(Premium Tab -<br> Purchase device)<br>
  Data: 2.5 GB<br>
  Talk: 300 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$90.00</td>
  <td class=xl65></td>
  <td bgcolor="#2ECC71" class=xl65 width=150 style='width:150pt'>Data: 5 GB<br>
  Talk: 200 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$95.00</td>
  <td class=xl65></td>
  <td class=xl65 width=142 style='width:142pt'>Data: 6 GB<br>
  Talk: 150 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$105.00</td>
 </tr>
 <tr height=75 style='height:75.0pt'>
  <td height=75 class=xl65 width=172 style='height:75.0pt;
  width:172pt'>(Premium Tab -<br> Purchase device)<br>
  Data: 1 GB<br>
  Talk: 300 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$80.00</td>
  <td class=xl65></td>
  <td bgcolor="#2ECC71" class=xl65 width=150 style='width:150pt'>Data: 2 GB<br>
  Talk: 200 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$80.00</td>
  <td class=xl65></td>
  <td class=xl65 width=142 style='width:142pt'>Data: 2 GB<br>
  Talk: 150 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$80.00</td>
 </tr>
 <tr height=60 style='height:60.0pt'>
  <td height=60 class=xl65 width=172 style='height:60.0pt;
  width:172pt'>(No Tab -<br>Use own device)<br>
  Data: 2.5 GB<br>
  Talk: 300 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$75.00</td>
  <td>&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
  <td>&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
 </tr>
 <tr height=60 style='height:60.0pt'>
  <td bgcolor="#2ECC71" height=60 class=xl65 width=172 style='height:60.0pt;
  width:172pt'>(No Tab -<br>Use own device)<br>
  Data: 1 GB<br>
  Talk: 300 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$65.00</td>
  <td class=xl65></td>
  <td class=xl65 width=150 style='width:150pt'>Data: 500
  MB<br>
  Talk: 200 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$65.00</td>
  <td class=xl65></td>
  <td class=xl65 width=142 style='width:142pt'>Data: 500
  MB<br>
  Talk: 150 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$65.00</td>
 </tr>
 <tr height=45 style='height:45.0pt'>
  <td height=45 class=xl65 width=172 style='height:45.0pt;
  width:172pt'>&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65></td>
  <td bgcolor="#2ECC71" class=xl65 width=150 style='width:150pt'>Data: 100
  MB<br>
  Talk: 200 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$45.00</td>
  <td class=xl65></td>
  <td class=xl65 width=142 style='width:142pt'>Data: 100
  MB<br>
  Talk: 150 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$45.00</td>
 </tr>
 <tr height=48 style='mso-height-source:userset;height:48.0pt'>
 <td colspan=8>
 *Notes:<br> 
 1. Green denote the best value plan for comparable price range<br><br>

 <b>Conclusion from comparison</b><br>
 1. Bell offers best value for higher end plans<br>
 2. Rogers offers best value for lower end plans<br>
 </td>
 </tr>
</table>

<br><br>
<a name="BC" href=""></a>
<table border=0 cellpadding=0 cellspacing=0 width=790 align="center" style='border: 0.5px solid black;'>
 <col width=172 style='mso-width-source:userset;mso-width-alt:7338;width:172pt'>
 <col width=66 style='mso-width-source:userset;mso-width-alt:2816;width:66pt'>
 <col width=65 style='width:65pt'>
 <col width=150 style='mso-width-source:userset;mso-width-alt:6400;width:150pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=142 style='mso-width-source:userset;mso-width-alt:6058;width:142pt'>
 <col width=65 style='width:65pt'>
 <tr ><th class=xl68 Colspan="8">&nbsp;<br>British Columbia Regular Smart Phone Mobile Plans (*selective) Comparison<br>&nbsp;</th></tr>

 <tr height=56 style='height:56.0pt'>
  <td class=xl68 height=56 class=xl65 style='height:56.0pt'>Rogers<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td class=xl68 width=66 style='width:66pt'>Pricing</td>
  <td class=xl68></td>
  <td class=xl68>Bell <br>
  (Share plan)</td>
  <td class=xl68 width=65 style='width:65pt'>Pricing</td>
  <td class=xl68> </td>
  <td class=xl68>Telus</td>
  <td class=xl68 width=65 style='width:65pt'><br>
  <span style="mso-spacerun:yes">&nbsp;</span>Pricing <br>
  (Flex Plan)**</td>
 </tr>
 <tr height=75 style='height:75.0pt'>
  <td height=75 class=xl65 width=172 style='height:75.0pt;
  width:172pt'>(Premium Tab -<br> Purchase device)<br>
  Data: 5 GB<br>
  Talk: Unlimited Canada-wide <br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$115.00</td>
  <td class=xl65> </td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65 width=65 style='width:65pt'>&nbsp;</td>
  <td class=xl65></td>
  <td class=xl65 width=142 style='width:142pt'>&nbsp;</td>
  <td class=xl65 width=65 style='width:65pt'>&nbsp;</td>
 </tr>
 <tr height=75 style='height:75.0pt'>
  <td height=75 class=xl65 width=172 style='height:75.0pt;
  width:172pt'>(Premium Tab - <br>Purchase device)<br>
  Data: 2 GB<br>
  Talk: Unlimited Canada-wide <br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$100.00</td>
  <td class=xl65></td>
  <td class=xl65 width=150 style='width:150pt'>&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65></td>
  <td class=xl65 width=142 style='width:142pt'>&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
 </tr>
 <tr height=75 style='height:75.0pt'>
  <td height=75 class=xl65 width=172 style='height:75.0pt;
  width:172pt'>(Premium Tab - <br>Purchase device)<br>
  Data: 1 GB<br>
  Talk: Unlimited Canada-wide <br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$90.00</td>
  <td class=xl65></td>
  <td class=xl65 width=150 style='width:150pt'>&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65></td>
  <td bgcolor="#2ECC71" class=xl65 width=142 style='width:142pt'>Data: 2.5GB<br>
  Talk: Unlimited Canada-wide mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$95.00</td>
 </tr>
 <tr height=60 style='height:60.0pt'>
  <td height=60 class=xl65 width=172 style='height:60.0pt;
  width:172pt'>&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65></td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65></td>
  <td class=xl65 width=142 style='width:142pt'>Data: 2.5GB<br>
  Talk: 500 Canada-wide mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$85.00</td>
 </tr>
 <tr height=45 style='height:45.0pt'>
  <td height=45 class=xl65 width=172 style='height:45.0pt;
  width:172pt'>&nbsp;</td>
  <td class=xl82 >&nbsp;</td>
  <td class=xl65></td>
  <td class=xl65 width=150 style='width:150pt'>&nbsp;</td>
  <td class=xl82 >&nbsp;</td>
  <td class=xl65></td>
  <td class=xl65 width=142 style='width:142pt'>Data: 2.5GB<br>
  Talk: 150 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$70.00</td>
 </tr>
 <tr height=45 style='height:45.0pt'>
  <td height=45 class=xl65 style='height:45.0pt;'>&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65></td>
  <td class=xl65 width=150 style='width:150pt'>Data: 250
  MB<br>
  Talk: 300 local mins<br>
  Text: Unlimited</td>
  <td class=xl65 align=right >$60.00</td>
  <td class=xl65></td>
  <td class=xl65 >&nbsp;</td>
  <td class=xl65 >&nbsp;</td>
 </tr>
  <tr height=48 style='mso-height-source:userset;height:48.0pt'>
 <td colspan=8>
 *Notes:<br> 
1. Green denote the best value plan for comparable price range<br>
2. Since Telus provides infinite flexiblity to consumers to create their own packages, <br>
the pricing here is derived from adding the option of 2.5GB data with Telus' various voice plans<br><br>

<b>Conclusion from comparison</b><br>
1. It is not possible to make meanngful comparison since the flexiblity to customize plans made it hard <br>
to make an apple to apple comparison. However, in one of the higher valued plans, Telus provide better value for money<br>
 </td>
 </tr>
 
</table>

<br><br>

<a name="QC" href=""></a>
<table border=0 cellpadding=0 cellspacing=0 width=790 align="center" style='border: 0.5px solid black;'>
 <col width=172 style='mso-width-source:userset;mso-width-alt:7338;width:172pt'>
 <col width=66 style='mso-width-source:userset;mso-width-alt:2816;width:66pt'>
 <col width=65 style='width:65pt'>
 <col width=150 style='mso-width-source:userset;mso-width-alt:6400;width:150pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=142 style='mso-width-source:userset;mso-width-alt:6058;width:142pt'>
 <col width=65 style='width:65pt'>
 <tr ><th class=xl68 Colspan="8">&nbsp;<br>Quebec Regular Smart Phone Mobile Plans Comparison<i>(Coming Soon!)</i><br>&nbsp;</th></tr>
</table>
<br>	
<a href="#TOP">>>&nbsp;Back to Top<a/>	
</div>

<div id="copyright" class="container">
	<p>&copy; Ratescentral. All rights reserved.</p>
</div>
</body>
</html>



