<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% load staticfiles %}
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'compapp/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'compapp/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
<style>

<!--table
.style0
	{
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	}
th 
	{	
	border: 0.5px solid black;
	}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	border: 0.5px solid black;
	}
.xl67
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
	
.xl68
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#FCD5B4;
	mso-pattern:black none;}
-->
</style>

</head>

<body>
<div id="menu-wrapper">
	<div id="menu" class="container">
		<ul>
			<li><a href="/compapp/" accesskey="1" title="">Mortgage Rates</a></li>
			<!--<li><a href="#" accesskey="2" title="">Bank Rates</a></li>-->
			<!--<li><a href="#" accesskey="3" title="">Credit Cards</a></li>-->
			<li><a href="/compapp/Mobile1" accesskey="4" title="">Mobile Plans</a></li>
			<li><a href="/compapp/Mobile2" accesskey="5" title="">Mobile Plans(Discount)</a></li>
			<li><a href="/compapp/Internet" accesskey="4" title="">Internet</a></li>
			<li><a href="#" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>
</div> 

<div id="page" class="container">

<br><br>
<table border=0 cellpadding=0 cellspacing=0 width=1018 align="center" style='border: 0.5px solid black;'>
 <col width=172 style='mso-width-source:userset;mso-width-alt:7338;width:172pt'>
 <col width=66 style='mso-width-source:userset;mso-width-alt:2816;width:66pt'>
 <col width=65 style='width:65pt'>
 <col width=150 style='mso-width-source:userset;mso-width-alt:6400;width:150pt'>
 <col width=65 span=2 style='width:65pt'>
 <col width=142 style='mso-width-source:userset;mso-width-alt:6058;width:142pt'>
 <col width=65 style='width:65pt'>
 <tr ><th class=xl68 Colspan="9">&nbsp;<br>Canada wide Discounted/Pre-paid Mobile Plans (*selective) Comparison<br>&nbsp;</th></tr>
 <tr height=43 style='mso-height-source:userset;height:43.0pt'>
  <td class=xl68 height=43 class=xl65 width=200 style='height:43.0pt;width:200pt'>Chatr</td>
  <td class=xl68 width=70 style='width:70pt'>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=196 style='width:196pt'>Wind<br>
  <span style="mso-spacerun:yes">&nbsp;</span>Mobile</td>
  <td class=xl68 width=69 style='width:69pt'>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
  <td class=xl68 width=211 style='width:211pt'>Koodo <br>
  (No Tab <br>
  plans)</td>
  <td class=xl68 width=77 style='width:77pt'>Pricing</td>
  <td class=xl68 width=65 style='width:65pt'></td>
 </tr>
 <tr height=42 style='mso-height-source:userset;height:42.0pt'>
  <td class=xl67 height=42 style='height:42.0pt;'>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=196>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=211>Unlimited
  international mins and text, <br>
  10 GB data</td>
  <td class=xl67 align=right >$129.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=39 style='mso-height-source:userset;height:39.0pt'>
  <td height=39 class=xl67 style='height:39.0pt;'>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=196>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=211>Unlimited
  international mins and text, <br>
  7 GB data</td>
  <td class=xl67 align=right >$100.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=43 style='mso-height-source:userset;height:43.0pt'>
  <td height=43 class=xl67 style='height:43.0pt;'>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=196 >&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=211>Unlimited
  international mins and text, <br>
  5GB data</td>
  <td class=xl67 align=right >$90.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=43 style='mso-height-source:userset;height:43.0pt'>
  <td height=43 class=xl67 style='height:43.0pt;'>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=196>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=211>Unlimited
  international mins and text, <br>
  4 GB data</td>
  <td class=xl67 align=right >$75.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=45 style='mso-height-source:userset;height:45.0pt'>
  <td height=45 class=xl67 width=200>Unlimited Canada &amp; US talk <br>
  &amp; international text, <br>
  2 GB Data</td>
  <td class=xl67 align=right >$70.00</td>
  <td class=xl67></td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td bgcolor="#2ECC71" class=xl67 width=211>Unlimited
  international mins and text, <br>
  3 GB data</td>
  <td class=xl67 align=right >$65.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=45 style='mso-height-source:userset;height:45.0pt'>
  <td bgcolor="#2ECC71" height=45 class=xl67 width=200>Unlimited Canada-wide talk<br>
  <span style="mso-spacerun:yes">&nbsp;</span>&amp; international text, <br>
  2 GB data</td>
  <td class=xl67 align=right >$60.00</td>
  <td class=xl67></td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td class=xl67 width=211>1000 Mins and
  unlimited text, <br>
  3 GB data</td>
  <td class=xl67 align=right >$60.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=45 style='height:45.0pt'>
  <td height=45 class=xl67>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td bgcolor="#2ECC71" class=xl67 width=196>Unlimited Canada
  / US wide talk <br>
  and unlimited international text, <br>
  8 GB data</td>
  <td class=xl67 align=right >$50.00</td>
  <td class=xl67></td>
  <td class=xl67 width=211>500 Mins and
  unlimited text, <br>
  2 GB data</td>
  <td class=xl67 align=right >$50.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=45>
  <td height=45 class=xl67 width=200>Unlimited province-wide talk, <br>
  100 outgoing Canada/US text, <br>
  1 GB data</td>
  <td class=xl67 align=right >$40.00</td>
  <td class=xl67></td>
  <td bgcolor="#2ECC71" class=xl67 width=196 style=';width:196pt'>Unlimited Canada
  wide talk <br>
  and unlimited international text, <br>
  5 GB data</td>
  <td class=xl67 align=right >$40.00</td>
  <td class=xl67></td>
  <td class=xl67 width=211 style=';width:211pt'>500 Mins and
  unlimited text, <br>
  500 MB data</td>
  <td class=xl67 align=right >$40.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=45 style='height:45.0pt'>
  <td height=45 class=xl67 style='height:45.0pt;'>&nbsp;</td>
  <td class=xl67 >&nbsp;</td>
  <td class=xl67></td>
  <td bgcolor="#2ECC71" class=xl67 width=196 style=';width:196pt'>Unlimited Canada
  wide talk <br>
  and unlimited US and Canada text, <br>
  2 GB data</td>
  <td class=xl67 align=right >$35.00</td>
  <td class=xl67></td>
  <td class=xl67 width=211 style=';width:211pt'>100 Mins and
  unlimited text, <br>
  100 MB data</td>
  <td class=xl67 align=right >$30.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=39 style='mso-height-source:userset;height:39.0pt'>
  <td height=39 class=xl67 width=200 style='height:39.0pt;;
  width:200pt'>Unlimited local talk</td>
  <td class=xl67 align=right >$20.00</td>
  <td class=xl67></td>
  <td bgcolor="#2ECC71" class=xl67 width=196 style=';width:196pt'>Unlimited Canada
  wide talk <br>
  and unlimited US and Canada text</td>
  <td class=xl67 align=right >$25.00</td>
  <td class=xl67></td>
  <td class=xl67 width=211 style=';width:211pt'>100 local Mins
  and unlimited text, <br>
  100 MB data</td>
  <td class=xl67 align=right >$25.00</td>
  <td class=xl67></td>
 </tr>
 <tr height=48 style='mso-height-source:userset;height:48.0pt'>
 <td colspan=9>
*Notes: <br>
1. Mobilicity will be joining the Chatr family from fall 2016<br>
2. Chatr's pricing is derived from adding the highest available data plan to create more comparable plans<br>
3. Green denote the best value plan for each price range<br><br>


<b>Conclusion from comparison</b><br>
1. Koodo offers  best value for unlimited international talk plans.<br>
2. WindMobile offers best value for unlimited Canada-wide talk plans<br>
</td>
 </tr>
</table>

</div>

<div id="copyright" class="container">
	<p>&copy; Ratescentral. All rights reserved.</p>
</div>
</body>
</html>



